@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

html{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height:100vh;
    margin:0;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

/* ============ header ============*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #34363d;
}

.title {
    cursor: pointer;
    color: #EDF0F1;
}

.title a {
    font-size: 32px;
    background-color: #34363d;
}

.nav_links {
    list-style: none;
    background-color: #34363d;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #34363d;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    background-color: #34363d;
}

.nav_links li a:hover {
    color: #0088A9;
}

/* ============ footer ============*/

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.footer-text{
    background: #1a1a1f;
    color: #EDF0F1;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.arrow-btn {
    position: fixed;
    bottom: 65px;
    right: 15px;
    z-index: 9;
}

.arrow-btn a {
    height: 39px;
    width: 37px;
    text-align: center;
    display: block;
    cursor: pointer;
    background: transparent;
}

.arrow-btn a span{
    line-height: 39px;
    font-size: 25px;
    background: transparent;
}

/* ============ hero ============*/

.hero {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(36, 37, 42, 0.8), rgba(0, 0, 0, 0.23)), url("./assets/images/chess_background.jpeg");
    background-size: 100% 100%;
    color: #EDF0F1;
}

.hero_container{
    background-color: transparent;
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    alignment: center;
    justify-content: center;
    position: relative;
    text-align: right;
}

.hero_info{
    position: absolute;
    top: 15%;
}

.hero_container .hero_info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero_container .hero_info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero_container .hero_info p {
    font-size: 1.2rem;
    max-width: 70%;
    margin: 0 0 0 auto;
}

.hero_container .hero_info a {
    text-decoration: none;
    display: inline-block;
    color: #1a1a1f;
    background-color: #EDF0F1;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.8em 1.2em;
    margin-top: 2rem;
}

.hero_info, .hero_info h1, .hero_info h2, .hero_info p{
    background-color: transparent;
}

/* ============ About us ============*/

.about-container{
    max-width: 1100px;
    padding: 0 3rem;
    margin: 4rem auto 0;
    text-align: center;
}

.about-container h1{
    color: #EDF0F1;
    font-size: 2rem;
    letter-spacing: 6px;
    margin-bottom: 2rem;
}

.about-container h2{
    color: #a0a0a4;
    font-size: 1.5rem;
    letter-spacing: 6px;
    margin-bottom: 2rem;
}

.about-container p{
    color: #b2b5b6;
    line-height: 1.4rem;
    margin-bottom: 2rem;
}

.my-image{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-image img{
    width: auto;
    height: 250px;
}

/* ============ Champions ============*/

*, *:before, *:after {
    box-sizing: inherit;
}

.champions-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.champions-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.champions-card-low {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    margin-top: 4rem;
}

.champions-card h2{
    color: #EDF0F1;
}

.champions-card-low h2{
    color: #EDF0F1;
}

.champions-container {
    padding: 0 16px;
}

.champions-container::after, .champions-row::after {
    content: "";
    clear: both;
    display: table;
}

.champions-title {
    color: white;
    font-size: 2rem;
}

.champions-page-title{
    color: #EDF0F1;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

/* ============ Timeline ============*/

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0088A9;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-content h2, .timeline-content p{
    background-color: white;
}
